<h2>Edit Case</h2>

<form action="/tweets/<%= @case.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <textarea name="content" value="<%= @case.content%>"><textarea>
    <input type="submit" value="submit">
</form>



