<h2><%= @user.username %></h2>

<h3>Your Cases</h3><br>


<% @cases.each do |file| %>
    <a href="/cases/<%= file.id %>" style="text-decoration: blink"><%= file.title %></a><br />
<% end %><br />


<br />
<p><a href="/cases/new"><button>New Case</button></a>
<p><a href="/logout"><button>Log Out</button></a></p>