<h2>Case Details</h2><br />
<h4><%= @case.title %></h4><br />
<p><%= @case.content %></p><br />

<p><a href="/cases/<%= @case.id %>/edit"><button>Edit</button></a></p>

<form action="/cases/<%= @case.id %>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>

<p><a href="/cases"><button>Home</button></a></p>
