<h1>Create an Account</h1><br />

<form action="/signup" method="POST">
    <label>email:</label>
    <input type="text" name="email" placeholder="type email" required><br />
     <label>username:</label>
    <input type="text" name="username" placeholder="type username" required><br />
     <label>password:</label>
    <input type="text" name="password" placeholder="type password" required><br />
</form>