<nav>
    <a href="/signup"><button>Sign Up</button></a>
    <a href="/login"><button>Log In</button></a>
</nav>

<h1>Sinatra Case Tracker</h1>
<hr><br /><br />

<p>Need help managing your case load? Look no further.</p>

